In [2]:
import pandas as pd
import numpy as np

In [15]:

df=pd.read_csv(r"C:\Users\HP\Downloads\insurance-data (1).csv")
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

**what is the percentage of female smokers**

In [18]:
female_smokers = df[(df['sex'] == 'female') & (df['smoker'] == 'yes')]
percentage_female_smokers = (len(female_smokers) / len(df[df['sex'] == 'female'])) * 100
print(f"Percentage of female smokers: {percentage_female_smokers:.2f}%")

Percentage of female smokers: 17.37%

**which city has the max insurance rate?**

In [23]:
max_insurance_city = df.groupby('region')['charges'].sum().idxmax()
print(f"City with the maximum insurance rate: {max_insurance_city}")

City with the maximum insurance rate: southeast

**which gender has the max insurance rate?**

In [ ]:
max_insurance_gender = df.groupby('sex')['charges'].sum().idxmax()
print(f"Gender with the maximum insurance rate: {max_insurance_gender}")

**what is the average percentage of female smoker age?**

In [29]:
average_age_female_smokers = female_smokers['age'].mean()
print(f"Average age of female smokers: {average_age_female_smokers:.2f} years")

Average age of female smokers: 38.61 years

**what is the percentage fo males that who has children insurance?**

In [34]:
males_with_children = df[(df['sex'] == 'male') & (df['children'] > 0)]
percentage_males = (len(males_with_children) / len(df[df['sex'] == 'male'])) * 100
print(f"Percentage of males who have children insurance: {percentage_males:.2f}%")

Percentage of males who have children insurance: 57.84%

**what is the percentage fo females that who has children insurance?**

In [40]:
females_with_children = df[(df['sex'] == 'female') & (df['children'] > 0)]
percentage_females = (len(females_with_children) / len(df[df['sex'] == 'female'])) * 100
print(f"Percentage of females who have children insurance: {percentage_females:.2f}%")

Percentage of females who have children insurance: 56.34%

**what are the maximum number of children associated with male parent assurance?**

In [52]:
max_children_with_male_parent_assurance = df[df['sex'] == 'male']['children'].max()
print(f"Maximum number of children associated with male parent insurance: {max_children_with_male_parent_assurance}")

Maximum number of children associated with male parent insurance: 5

**what are the maximum number of children associated with female parent assurance?**

In [56]:
max_children_with_female_parent_assurance = df[df['sex'] == 'female']['children'].max()
print(f"Maximum number of children associated with female parent insurance: {max_children_with_female_parent_assurance}")

Maximum number of children associated with female parent insurance: 5

**Which city has the maximum female insurance total charge?**

In [63]:
max_female_insurance = df[df['sex'] == 'female'].groupby('region')['charges'].sum() .idxmax()
print(f"city has the maximum female insurance total charge: {max_female_insurance}")

city has the maximum female insurance total charge: southeast